
center{
	display: block;
	text-align: -webkit-center;
}

#q{
	height: 39px;
	width:525px;
	border-radius:2px;
	box-shadow: 0 1px 1px gray;
}

#logo_image{
	height:92px;
	width: 272px;
	padding-top: 130px;
	padding-bottom: 20px;
}	
.search{
	border: none;
	box-sizing:border-box;
	margin:0;
	outline:none;
	padding: 0 8px;
	position: absolute;
	width:100%;
}

a{
	text-decoration: none;
	color:black;
	font-family: arial;
 }

a:hover{
	opacity: .85;
	text-decoration: underline;
}
	
ul{
	list-style-type: none;
	margin:0;
	padding:0;
	font-size:13px;	
}

li{
	vertical-align:middle;
	display:inline-block;
	padding:8px;
	line-height:0px;
}

#sign_in{
	color:rgb(255,255,255);
	font-weight: bold;
	border: 2px solid rgb(67,135,253);
	background: rgb(67,135,253);
	border-radius: 3px;
	padding: .7em 1em;
}

#notifications_img{
	background-color:rgba(0,0,0,.55);
	color:white;
	line-height:20px;
	margin: 5px;
	padding: 0 2px;
	box-sizing: border-box;
	border-radius:50%;
	height:20px;
	width:20px;
}

#top_nbar{
	text-align:right;
}

#options_img{
	opacity:.55;
}

#f_bar{
	background:rgb(228,228,228);
	bottom:0;
	display:inline;
	border-top: 1px solid rgb(228,228,228);
	min-width:980px;
	line-height:40px;
	position:absolute;
	width:100%;
	margin-left: -8px;
}

#l_ele{
	margin-left:30px;
	white-space: no wrap;
}

#r_ele{
	margin-right:30px;
	float:right;
	white-space: no wrap;
}


.s_button{
	border: 1px solid rgb(242,242,242);
	font-family: arial;
	font-size:13px;
	margin: 11px 4px;
	padding: 0 16px;
	text-align:center;
	height:36px;
	display:inline-block;	
	font-weight:bold;
	line-height:27px;
	border-radius:2px;
	color:rgb(117,117,117);
}





	
	
	
	

	
